body{
  text-align: center;
  background-color: rgb(136, 190, 172);
  padding: 5%;
  margin: 0%;
}
ul{
  list-style-type: none;
}

#ul {
  display: flex;   
  width: 100%;    
  flex-wrap: wrap; 
}
#li {
 flex: 1 0 33.33%;
}
#app {
  background-color: rgb(116, 150, 134);
  width: 100%;
  height: 100%;
}
#name{
  background-color: rgb(46, 110, 84);
  width: 220px;
  height: 50%;
  border-radius: 25%;
}
h3{
  padding: 12%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}